.navbar {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #092642;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff !important;
  margin-left: 20px;
}

.navbar-nav {
  position: absolute;
  top: 60%;
  left: 45%;
  margin: -25px 0 0 -25px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  color: #dddddd !important;
  transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffffff !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
