<body>
<div class="customer-container">
  <h5>Customer List</h5>
  <button class="btn-add" (click)="addCustomer()">Add customer</button>
</div>

<div class="customer-list-container">
  <ag-grid-angular
    class="ag-theme-alpine"
    style="width: 100%; height: 500px;"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    (cellClicked)="onCellClicked($event)"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector">
  </ag-grid-angular>
</div>
</body>
