.form-group {
  margin-bottom: 15px;
}

.btn-update {
  background-color: #38bb73;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width:70px;
    height: 35px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
}

.error-message {
  color: #bb3838;
}

.btn-update:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.btn-delete {
  background-color: #bb3838;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width:70px;
    height: 35px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
}

.btn-delete:hover {
  background-color: #882121;
  transform: translateY(-2px);
}
