<body>
  <div *ngIf="product">
    <h5>Edit Product</h5>
    <br>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" [(ngModel)]="product.name" name="name" class="form-control" />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" [(ngModel)]="product.price" name="price" class="form-control" />
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" [(ngModel)]="product.status" name="status" class="form-control">
          <option value="ACTIVE">ACTIVE</option>
          <option value="INACTIVE">INACTIVE</option>
        </select>
      </div>
      <button class="btn-update" (click)="updateProduct()">Update</button>
      <button class="btn-delete" (click)="deleteProduct()">Delete</button>
    </form>
  </div>
</body>


