<body>
  <div class="product-container">
    <h5>Product List</h5>
    <button class="btn-add" (click)="addProduct()">Add product</button>
  </div>

  <div class="product-list-container">
    <ag-grid-angular
      class="ag-theme-alpine"
      style="width: 100%; height: 500px;"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (cellClicked)="onCellClicked($event)"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector">
    </ag-grid-angular>
  </div>
</body>
