<mat-card>
  <h5>Add Product</h5>
  <div class="content">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="id">ID:</label>
        <input id="id" formControlName="id" type="text" />
      </div>

      <div>
        <label for="name">Name:</label>
        <input id="name" formControlName="name" type="text" />
      </div>

      <div>
        <label for="price">Price:</label>
        <input id="price" formControlName="price" type="number" />
      </div>

      <div>
        <label for="status">Status:</label>
        <select id="status" formControlName="status" class="option">
          <option value="ACTIVE">ACTIVE</option>
          <option value="INACTIVE">INACTIVE</option>
        </select>
      </div>

      <div class="btn">
        <button class="btn-add" type="submit">Add Product</button>
        <button class="btn-cancel" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</mat-card>
